.usersList {
  width: 150px;
}
.oneUser {
  margin: 10px;
  border: 1px solid rgb(241, 241, 241);
  padding: 5px;
  display: flex;
  align-items: center;
  width: 200px;
  position: relative;
}
.oneUser:hover {
  cursor: pointer;
  background-color: rgb(234, 238, 241);
}
.hilight {
  border: solid 5px darkblue;
}
.hilight:hover{
  cursor: default;
}
.avatar {
  width: 50px;
  border-radius: 1000px;
  margin-right: 10px;
}

.disconnect {
    position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: x-small;
    background-color: rgb(230, 227, 227);
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
