.oneTicket{
    padding: 20px;
    border: solid 1px  rgb(240, 240, 240);
    margin: 5px;
}
.oneTicket:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.titleAndStatus{
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    font-weight:bold;
}
.smallAvatar{
    width: 20px;
}

.description{
    text-align: left;
}

.astronaut{
    width: 90%;
    margin: 5px;
    border: solid 1px lightgray;
}
.astronaut th{
    font-weight: normal;
    font-size: smaller;
}
.astronaut th:nth-child(1){ width: 20%;}
.astronaut th:nth-child(2){ width: 20%;}
.astronaut th:nth-child(3){ width: 60%; text-align: left;}

